body {
    margin: 0;
    background-color: lightblue;
}
header {
    color: lightgreen;
    background-color: brown;
    padding: 13px 10px;
}
header img{
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li.right {
    float: right;
}
li a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}
a:hover {
    background-color: grey;
}
li a.active {
    background-color: green;
    color: white;
}
li a:hover:not(.active) {
    background-color: grey;
}
#login {
    background-color: lightcoral;
}
#sign {
    background-color: lightcoral;
}
div form {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 300px; 
    font-size: 25px;
    font-weight: bold;
}
legend {
    font-size: 50px;
    font-weight: bold;
    color: red;
}
input[type=text], button, select {
    width: 100%;
    display: block;
    padding: 10px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}
input[type=text]:hover {
    background-color: lightblue;
    border: none;
}
input[type=reset], button {
    width: 45%;
    display: block;
    padding: 10px;  
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: greenyellow;
    border: none;
    float: left;
}
button.button {
    float: right;
}
input[type=reset]:hover {
    background-color: grey;
}
button:hover {
    background-color: grey;
}
select:hover {
    background-color: lightblue;
}
.gender {
    font-size: 15px;
    font-weight: normal;
}
h2.contact {
    margin-top: 80px;
    padding-bottom: 30px;
    border-bottom: 4px solid black;
    text-align: center;
    color: black;
    font-size: 50px;
}
p.contact {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
#con {
    border: 1px solid green;
    width: 75%;
    margin-left: 160px;
    padding: 5px 30px;
    text-align: center;
}
.cont p:hover {
    color: red;
    font-size: large;
}
#yo {
    background-image: url('../images/home.jpg');
}
.cool {
    font-size: 70px;
    margin-left: 10px;
    color: red;
    text-align: center;
    border: 1px solid white;
    width: 65%;
    margin: auto;
    margin-top: 60px;
    background-image: url('../images/background11.jpg');
    background-repeat: no-repeat;
    background-size: 950px 100px;
    padding: 10px;
    font-weight: bold;
}
p.para {
    font-size: 20px;
    margin-left: 60px;
    color: yellow;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 3px solid red;
    width: 50%;
    padding: 10px;
    background-color: coral;
    background: no-repeat url(../images/background2.jpg);
    background-size: 700px 100px;
}
ul.home {
    background-color: #ff634700;
}
div.des {
    color: yellow;
    margin-top: 0;
    border-left: 1px solid white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
div.block {
    display: block;
    width: 200px;
    padding: 25px;
    margin-left: 100px;
    margin-top: 0px;
    
}
.img_float {
    float:right;
    width: 300px;
    height: 400px;
    margin-left: 40px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.abo {
    font-size: 30px;
    text-align: center;
    background-color: coral;
    padding: 5px;
    font-weight: bold;
    font-family:cursive;
}
.shi{
    margin-left: 60px;
    font-size: 20px;
    border: 5px solid red;
    margin-right: 70px;
    margin-top: 20px;
    width: 90%;
    padding-left: 5px;
}
.footer {
    text-align: center;
    padding: 25px;
    background-color: black;
    color: white;
    margin-top: 30px;
}
.imgg {
    float: left;
    width: 30px;
}
.row {
    background-color: coral;
    padding: 10px;
    padding-bottom: 3%;
}
.middle {
    margin: 10px;
    margin-right: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right:0px ;
    border: 3px solid white;
    color: white;
    background: black;
}
.leftcolumn {
    float: left;
    width: 60%;
}
.afro {
    border: 3px solid white;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    color: white;
    background-color: black;
}
.rightcolumn {
    float: right;
    width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer1 {
      padding: 30px;
      margin-top: 0%;
  }
  .gigi {
      background-image: url(../images/home2.jpg);
      background-repeat: no-repeat;
      background-size: 100% 300px;
      padding: 10px;
      margin: 0%;
      margin-top: 0%;
      font-size: 30px;
      text-align: center;
  }
  h2.gig {
    border-bottom: 3px solid red;
    padding-bottom: px;
    margin-top: 0px;
    color: red;
    font-size: 80px;
  }
  h2.gig::first-letter {
      font-size: 100px;
      color: red;
  }
  h2.gig::before {
      content: url(../images/logo2.jpg);
  }

 